<!DOCTYPE html>
<html>
    <head>
        <title>Formulario de Crear Cuenta</title>
        <link rel="stylesheet" href="../css/createAccountStyle.css">
        <script src="https://cdn.jsdelivr.net/npm/compressorjs@1.1.0/dist/compressor.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/createProfile.css">
        <script src="../js/verificationCode.js"></script>
    </head>   

    <header>
        <nav>
            <ul>
                <li><a th:href="@{/}">Inicio</a></li>
                <!--<li><a href="#">Catálogo</a></li>
                <li><a href="#">Perfil</a></li>-->
            </ul>
        </nav>
    </header>
    <body>
        <br>
        <div th:if="${error != null}" class="alert alert-danger" role="alert">
            <span th:text="${error}"></span>
        </div>

        <form th:action="@{/image/user}" 
              method="GET">

            <h3>¡Revisa tu correo!</h3>

            <p>Hemos un código de verificación al siguiente correo: <span th:text="${email}"></span></p>

            <div class="code-input">
                <label for="verificationCode">¡Ingrese Aquí su código de verificación!</label>
                <div class="code-boxes">
                    <input type="text" id="box1" class="code-box" maxlength="1" required>
                    <input type="text" id="box2" class="code-box" maxlength="1" required>
                    <input type="text" id="box3" class="code-box" maxlength="1" required>
                    <input type="text" id="box4" class="code-box" maxlength="1" required>
                    <input type="text" id="box5" class="code-box" maxlength="1" required>
                    <input type="text" id="box6" class="code-box" maxlength="1" required>
                    <input type="text" id="box7" class="code-box" maxlength="1" required>
                </div>
                <input type="hidden" id="verificationCode" name="verificationCode">
            </div>


            <input type="submit" value="Verificar Código">
        </form>
    </body>
    <footer>
        <p>&copy; 2023 Tienda en Línea</p>
    </footer>
</html>